*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body{
    font-family: 'Courier New', Courier, monospace;
    background: #ffffff;
  }
  
  .input{
    text-align: center;
    border-radius: 5px;
    margin-top: 100px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
  }
  
  input[type="submit"]{
    padding: 15px 30px;
    background: #e7e7e7;
    border: none;
    border-radius: 5px;
    font-family: 'Courier New', Courier, monospace;
    font-weight:bold;
    font-size: 20px;
  }

  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
    opacity: 1; /* Firefox */
  }
  
  .input input[type="text"]{
    width: 600px;
    height: 55px;
    padding: 5px 10px;
    background: #e7e7e7;
    border: none;
    border-radius: 5px;
    font-family: 'Courier New', Courier, monospace;
    font-weight:bold;
    font-size: 20px;
  }

  
  
  .close{
    float: right;
    margin-top: -2px;
    cursor: pointer;
    margin-right: 20px;
  }
  
  .card h1{
    padding: 1px 0;
    text-align: center;
  }
  
  .card p{
    text-align: center;
    margin:40px 0;
    font-size:20px;
  }